ENV=development
PORT=8080
DATABASE_HOST=
DATABASE_USER=
DATABASE_NAME=
DATABASE_PASSWORD=
DB_MIN_CONNECTIONS=
DB_MAX_CONNECTIONS=
EVENT_PUBLISHER_URL=
REDIS_HOST=
REDIS_DB=
KAFKA_USERNAME=
KAFKA_BROKER_LIST=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_BATCH_SIZE=
KAFKA_TOPIC_GROWTH_EVENTS=
KAFKA_TOPIC_CHECKOUT_EVENTS=
KAFKA_TOPIC_SHOPIFY_EVENTS=
KAFKA_TOPIC_OMS_EVENTS=
SENTRY_DSN=